body, html {
  width: 100%;  
  text-align: center;
}

div.title {
    margin-bottom: .75rem;
    line-height: 1.1;
}
p.title {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
  padding: 0.5rem;
}

.card-body {
  padding: 0.5rem;
}

.icons {
  position: absolute;
  bottom: -.35rem;
  font-size: 2.5em;
}

.material-icons.red { color: red; }
.material-icons.green { color: green; }
.material-icons.blue { color: blue; }