---
layout: default
title: "Cloud Diagrams & Notes"
---

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

{% for post in site.posts %}
      {% if post.layout != "note" %}
      
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <a href="{{ post.url }}">
              <img src="{{post.thumbnail | absolute_url}}" alt="{{post.title}}" class="card-img-top">
          </a>            
          <div class="card-body">
            <div class="title">
              <p class="title">{{post.title}}</p>
              <small class="text-muted">{{post.date | date_to_string}}</small>
            </div>
          </div>
        </div>
      </div>
      
      {% endif %}
{% endfor %}

    </div>
  </div>
</div>
