---
layout: default
title: "Cloud Diagrams & Notes"
---

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

{% for post in site.posts %}
      {% if post.layout != "note" %}
      
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <a href="{{ post.url  | relative_url}}">
              <img src="{{post.thumbnail | relative_url}}" alt="{{post.title}}" class="card-img-top">
          </a>            
          <div class="card-body">
            <div class="title">
              <p class="title">{{post.title}}</p>
              <small class="text-muted">{{post.date | date_to_string}}</small>
            </div>
            <div class="icons">
            {% if post.layout == "event" %}
            <a href="{{ post.url  | relative_url}}"><i class="material-icons md-24 red">people</i></a>
            {% endif %}

            {% if post.video %}
            <a class="icon" href="//{{post.video}}" target="_blank"><i class="material-icons md-24 green">videocam</i></a>
            {% endif %}
          </div>

          </div>
        </div>
      </div>
      
      {% endif %}
{% endfor %}

    </div>
  </div>
</div>
