<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <title>Jerry Hargrove - {{ page.title }}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

  {% include analytics.html %}	  
</head>
