<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	
	<body>
			
		{% include header.html %}

		<main role="main">
		
		{{ content }}

    <div class="album py-5 bg-light">

        <div class="container">    
          <div class="row">
            <div class="col-lg-12">
              <div class="card mb-12 shadow-sm">
                <a href="/{{{post.image}}}">
                    <img class="img-fluid" src="{{post.image}}" alt="{{post.title}}" class="card-img-top">
                </a>            
                <div class="card-body">
                  <div class="title">
                    <p class="title">{{post.title}}</p>
                    <small class="text-muted">{{post.date  | date_to_string}}</small>
                  </div>
                  <p class="card-text">{{#post.author}}by <a href="//twitter.com/{{post.author}}">@{{post.author}}</a>, {{/post.author}}</p>

                  {{#post.product}}
                  <a class="icon" href="//{{post.product}}" target="_blank" onclick="trackOutboundLink('//{{post.product}}'); return false;"><i class="material-icons md-24">web</i></a>
                  {{/post.product}}
                  {{#post.video}}
                  <a class="icon" href="//{{post.video}}" target="_blank" onclick="trackOutboundLink('//{{post.video}}'); return false;"><i class="material-icons md-24">play_circle_filled</i></a>
                  {{/post.video}}
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

		</main>

		{% include footer.html %}
		
	</body>

</html>
