<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	
	<body>
			
		{% include header.html %}

		<main role="main">
		
		{{ content }}

    <div class="album py-5 bg-light">

        <div class="container">    
          <div class="row">
            <div class="col-lg-12">
              <div class="card mb-12 shadow-sm">
                <a href="{{page.url}}">
                    <img class="img-fluid" src="{{page.image}}" alt="{{page.title}}" class="card-img-top">
                </a>            
                <div class="card-body">
                  <div class="title">
                    <p class="title">{{page.title}}</p>
                    <small class="text-muted">{{page.date  | date_to_string}}</small>
                  </div>
                  <p class="card-text">{{% if page.author %}}by <a href="//twitter.com/{{page.author}}">@{{page.author}}</a>, {{% endif %}}</p>
			
                  {{% if page.product %}}
                  <a class="icon" href="//{{page.product}}" target="_blank" onclick="trackOutboundLink('{{page.product}}'); return false;"><i class="material-icons md-24">web</i></a>
                  {{% endif %}}
			
                  {{% if page.video %}}
                  <a class="icon" href="//{{page.video}}" target="_blank" onclick="trackOutboundLink('{{page.video}}'); return false;"><i class="material-icons md-24">play_circle_filled</i></a>
                  {{% endif %}}
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

		</main>

		{% include footer.html %}
		
	</body>

</html>
