---
layout: default
---

<div class="album py-5 bg-light">
  <div class="container">

		{{ content }}


    <div class="row">

{% for post in site.posts %}
    {% if post.layout == "note" and post.event ==  page.event %}      

        <div class="col-md-3">
        <div class="card mb-3 shadow-sm">

            <p class="title">{{post.session}}</p>
            <p class="title">{{post.title}}</p>
            
            <a href="{{ post.url  | relative_url}}">
                <img src="{{post.thumbnail | relative_url}}" alt="{{post.title}}" class="card-img-top">
            </a>            
            <div class="card-body">
                <div class="title">
                    <p class="title">{{post.event}}</p>
                    <p><small class="text-muted">{{post.date | date_to_string}}</small></p>
                </div>
                <div class="icons">
                        {% if post.video %}
                        <a class="icon" href="//{{post.video}}" target="_blank"><i class="material-icons md-36 blue">videocam</i></a>
                        {% endif %}    
                </div>                  
            </div>
        </div>
        </div>

    {% endif %}
{% endfor %}

    </div>
  </div>
</div>
